---
import Section from "../Section.astro"
import { education } from "@cv"
---

<Section title="Education">
  <ul>
    {
      education.map(({ institution, startDate, endDate, area, score, logo, studyType }) => {
        const startYear = new Date(startDate).getFullYear()
        const endYear =
          endDate != null ? new Date(endDate).getFullYear() : "Actual"
        const years = `${startYear} - ${endYear}`

        return (
          <li>
            <article>
              <header>
                <div style="display: flex; align-items: center; gap: 8px;">
                  {logo && <img src={logo} alt={`${institution} logo`} width="24" height="24" />}
                  <h3>{institution}</h3>
                </div>
                <time>{years}</time>
              </header>

              <footer>
                <p>{area}</p>
                {score && <p><strong>Grade:</strong> <b>{score}</b></p>}
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
    color: var(--text);
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: var(--subtle-text);
    font-size: 0.85rem;
    min-width: 102px;
  }

  footer p {
    color: var(--subtle-text);
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
